<link rel="stylesheet" href="/css/navbar.css">

<nav class="navbar sticky-top navbar-expand-md pt-0 pb-0" >
    <div class="container-fluid navigation-bar pt-3 pb-3">
      <a class="navbar-brand ml-5 px-5" href="/">
        <span>A</span><span>R</span><span>T</span><span>W</span><span>O</span><span>R</span><span>K</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mx-2 justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link mx-2 " aria-current="page" href="/">HOME</a>
          </li>
          <li class="nav-item mx-2 ">
            <a class="nav-link" href="/gallery">GALLERY</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/reviews">REVIEWS</a>
          </li>
          <li class="nav-item dropdown mx-2">
            <a class=" dropdown-toggle " href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              MORE
            </a>  
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/prices">Prices</a></li>
              <li><a class="dropdown-item" href="/FAQ">FAQ</a></li>
            </ul>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/contact">CONTACT ME</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <% if (isAdmin) { %>
              <a class="nav-link" href="/admin/workspace">Workspace</a>
              <% } %>
          </li>
          <li>
            <% if (!activeUser) { %>
              <a class="nav-link" href="/login">Login</a>
              <% } else { %>
              <a class="nav-link" href="/logout">Logout</a>
              <% } %>
          </li>
        </ul>
      </div>
    </div>
  </nav>