<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/css/review.css">

<div class="container  pt-3 pb-5 mb-0 mt-0">
    <div class="row justify-content-center pt-3 pb-3">
        <div class="col-md-10 col-lg-8 text-center">
            <h1>Frequently asked questions</h1>
        </div>
    </div>
  
    <div class="row justify-content-center pt-3 pb-3">
        <div class="col-md-10 col-lg-8">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                      How to order a portrait for my pet?
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        He is a genious and a very firendly artist. I sent him the picture of my doggy.
                         He needed close to no explanation, he just started drawing right away. I am 
                         extremely happy with the result. Thank you so much.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        How long does it take to get the portrait?
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                      <div class="accordion-body">
                        He is a genious and a very firendly artist. I sent him the picture of my doggy.
                        He needed close to no explanation, he just started drawing right away. I am 
                        extremely happy with the result. Thank you so much.
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        What are the payment options?
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
                      <div class="accordion-body">
                        He is a genious and a very firendly artist. I sent him the picture of my doggy.
                        He needed close to no explanation, he just started drawing right away. I am 
                        extremely happy with the result. Thank you so much.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Is this a company or an individual?
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show">
                      <div class="accordion-body">
                        He is a genious and a very firendly artist. I sent him the picture of my doggy.
                        He needed close to no explanation, he just started drawing right away. I am 
                        extremely happy with the result. Thank you so much.
                      </div>
                    </div>
                  </div>  
            </div>
        </div>
    </div>

  </div>

  <div class="row justify-content-center pt-3 pb-3">
    <div class="col text-center">
      <a href="/"><button class="btn btn-success">Back to home</button></a>
    </div>
  </div>

  </div>