 <% layout('layouts/boilerplate') %> 

<!-- Banner Section -->
<div class="container-fluid banner_section pt-0 pb-5 mb-5">
    <div class="row">
      <div class="col-8">
        <div class="banner-content-1 pt-4">
          <h1>Let portrait speak the personality.</h1>
          <p>It is an art of capturing a physical likeness, but also striving
             to represent the spirit and character of an individual within every brush stroke.</p>
             <a href="/gallery" class="btn btn-outline-success">View gallery</a>  
             <a href="/contact" class="btn btn-outline-success">Contact me</a>  
        </div>
      </div>
      <div class="col">
      
      </div>
    </div>
  </div>
  <!-- Banner Section End -->

  
  <!-- Work process section -->
  <div class="process_section pt-5 pb-5 mt-5 mb-5">
    <div class="container text-center">
      <div class="row  pt-3 pb-3 ">
        <div class="col-12">
          <h2 class="section-title">We work together</h2>
          <p class="section-subtitle">
            We work together with you to bring the expresssion and the personality of your loved ones in the portrait.
          </p>
      </div>
      </div>
      <div class="row justify-content-around pt-3 pb-3 ">
        <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
          <div class="card">
            <img src="images/dog1.jpg" class="card-img-top img-fluid img-thumbnail " style="height: 15rem;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Step One</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-success">Send Picture</a>
            </div>
          </div>
        </div>
        <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
          <div class="card">
            <img src="images/dog2.jpg" class="card-img-top img-fluid img-thumbnail " style="height: 15rem;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Step Two</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-success">Discuss Expression</a>
            </div>
          </div>
        </div>
        <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
          <div class="card">
            <img src="images/dog3.jpg" class="card-img-top img-fluid img-thumbnail " style="height: 15rem;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Step Three</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-success">Make Portrait</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Work process section end -->
  
  <!-- About section -->
   <section class="about_section pt-5 pb-5 mt-5 mb-5">
    <div class="container">
         <div class="row justify-content-around pt-3 pb-3">
          <div class="col-md-4 "> 
            <div class="justify-content-center">
              <img src="images/dog2.jpg" class="img-fluid h-100" alt="...">
            </div>
        </div>
            <div class="col-md-6">
                 <h2><strong>About me</strong></h2>
                 <p class="fw-bold"> We providing pervices since 2015 with proud.</p>
                 <div class="about-details">
                   <p >The readable content off a page when looking layout using Lorem Ipsumm is that it has.</p>
                   <p>
                     It is a long established fact that a reader will be distracted the readable content off a 
                     page when looking its layout using Lorem Ipsum is that it has. It is a long established fact that a reader 
                     will be distracted the readable content off a page when looking its layout using Lorem Ipsum is that it has.
                   </p>
                   <p>
                     It is a long established fact that a reader will be distracted the readable content off a 
                     page when looking its layout using Lorem Ipsum is that it has.
                   </p>
                 </div>
            </div>
            
         </div>
    </div>
  </section>
  <!-- About Section End -->
  
  <!-- Customer review -->
  <div class="costomer_review  pt-5 pb-5 mb-5 mt-5" >
    <div class="container" style="width: 75vw;">
      <div class="row pt-3 pb-3">
        <div class="col-md-12 text-center">
            <h2 class="section-title">Our Happy Customer's Reviews</h2>
        </div>
      </div>
      <div class="row pt-3 pb-3">
        <div class="col-sm-12">
          <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="d-md-flex flex-row">
  
                   <div class="profile_picture col-md-5">
                    <img src="images/dog1.jpg" class="img-fluid" style="height: 25rem; width: 40rem;" alt="">
                   </div>
  
                   <div class="card profile_review col-md-7 justify-content-center">
                      <div class="review px-3">
                        <p class="fst-italic"> Not only was customer support vary fast, but the design is
                          very professional. Will definitely be looking for new products in the future 
                          from this author.
                        </p>
                        <div class="my-4 ">
                          <h4>Jon Doe</h4>
                          <p class="m=0">Happy Customers</p>
                        </div>
                      </div>
                   </div>
  
                </div>
              </div>
              <div class="carousel-item" >
                <div class="d-md-flex flex-row">
  
                   <div class="profile_picture col-md-5">
                    <img src="images/dog2.jpg" class="img-fluid" style="height: 25rem; width: 40rem;" alt="">
                   </div>
  
                   <div class="card profile_review col-md-7 justify-content-center">
                      <div class="review px-3">
                        <p class="fst-italic"> Not only was customer support vary fast, but the design is
                          very professional. Will definitely be looking for new products in the future 
                          from this author.
                        </p>
                        <div class="my-4 ">
                          <h4>Jon Doe</h4>
                          <p class="m=0">Happy Customers</p>
                        </div>
                      </div>
                   </div>
  
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-md-flex flex-row">
  
                   <div class="profile_picture col-md-5">
                    <img src="images/dog3.jpg" class="img-fluid" style="height: 25rem; width: 40rem;" alt="">
                   </div>
  
                   <div class="card profile_review col-md-7 justify-content-center">
                      <div class="review px-3">
                        <p class="fst-italic"> Not only was customer support vary fast, but the design is
                          very professional. Will definitely be looking for new products in the future 
                          from this author.
                        </p>
                        <div class="my-4 ">
                          <h4>Jon Doe</h4>
                          <p class="m=0">Happy Customers</p>
                        </div>
                      </div>
                   </div>
  
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <div class="row justify-content-center pt-3 pb-3">
        <div class="col-6 text-center">
          <a href="/reviews" class="btn btn-outline-success">More reviews</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Customer review end -->
  
  
  
  <!-- Seems like this sectin is more logical -->
  <!-- Gallery section -->
  <div class="container gallery_section pt-5 pb-5 mb-5 mt-5">
    <div class="row justify-content-center pt-3 pb-3">
      <div class="col-6 text-center">
        <h1>Recent portraits</h1>
      </div>
    </div>
    <div class="row  justify-content-center pt-3 pb-3">
      <div class="col-10 ">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
             <div class="d-flex justify-content-around ">
              <div class="col-4 px-2">
                <img src="images/dog1.jpg" class="img-fluid rounded " style="height: 20rem;" alt="...">
              </div>
              <div class="col-4 px-2">
                <img src="images/dog2.jpg" class="img-fluid rounded" style="height: 20rem;" alt="...">
              </div>
              <div class="col-4 px-2">
                <img src="images/dog3.jpg" class="img-fluid rounded" style="height: 20rem;" alt="...">
              </div>
             </div>
            </div>
            <div class="carousel-item">
              <div class="d-flex justify-content-around ">
               <div class="col-4 px-2">
                 <img src="images/dog2.jpg" class="img-fluid rounded " style="height: 20rem;" alt="...">
               </div>
               <div class="col-4 px-2">
                 <img src="images/dog3.jpg" class="img-fluid rounded" style="height: 20rem;" alt="...">
               </div>
               <div class="col-4 px-2">
                 <img src="images/dog1.jpg" class="img-fluid rounded" style="height: 20rem;" alt="...">
               </div>
              </div>
             </div>
             <div class="carousel-item">
              <div class="d-flex justify-content-around ">
               <div class="col-4 px-2">
                 <img src="images/dog3.jpg" class="img-fluid rounded " style="height: 20rem;" alt="...">
               </div>
               <div class="col-4 px-2">
                 <img src="images/dog1.jpg" class="img-fluid rounded" style="height: 20rem;" alt="...">
               </div>
               <div class="col-4 px-2">
                 <img src="images/dog2.jpg" class="img-fluid rounded" style="height: 20rem;" alt="...">
               </div>
              </div>
             </div>
            <!-- <div class="carousel-item">
              <img src="dog2.jpg" class="d-block w-100 h-50" alt="...">
            </div>
            <div class="carousel-item">
              <img src="dog3.jpg" class="d-block w-100 h-50" alt="...">
            </div> -->
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row justify-content-center pt-3 pb-3">
      <div class="col-6 text-center">
        <a href="/gallery" class="btn btn-outline-success">View Gallery</a>
      </div>
    </div>
  </div>
  <!-- Gallery section End-->