<% layout('layouts/boilerplate') %> 

<div class="container-lg  pt-3 pb-5">
    <div class="row justify-content-center ">
        <div class="col text-center">
            <h1>Sizes and Prices</h1>
        </div>
    </div>

    <div class="row gx-2 justify-content-around" style="background-color: #03262c;">
        <div class="col-lg-4 col-sm-6  text-center pt-2 pb-2">
            <div class="card" >
                <div style="height: 20rem;">
                    <img src="images/dog1.jpg" class="card-img-top h-100" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">10 X 10 Portrait</h5>
                  <p class="card-text">
                    This size is ideal for small spaces. You can make a collection of portraits of
                    your loving pets. Keep them anywhere you like.
                  </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">some more information</li>
                </ul>
                <div class="card-body">
                    <a href="/"><button class="btn btn-success">Starting from $150</button></a>
                </div>
              </div>
        </div>

        <div class="col-lg-4 col-sm-6  text-center pt-2 pb-2">
            <div class="card" >
                <div style="height: 20rem;">
                    <img src="images/dog2.jpg" class="card-img-top h-100" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">15 X 15 Portrait</h5>
                  <p class="card-text">
                    This size is ideal for small spaces. You can make a collection of portraits of
                    your loving pets. Keep them anywhere you like.
                  </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">some more information</li>
                </ul>
                <div class="card-body">
                    <a href="/"><button class="btn btn-success">Starting from $300</button></a>
                </div>
              </div>
        </div>

        <div class="col-lg-4 col-sm-6  text-center pt-2 pb-2">
            <div class="card" >
                <div style="height: 20rem;">
                    <img src="images/dog3.jpg" class="card-img-top h-100" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">18 X 20 Portrait</h5>
                  <p class="card-text">
                    This size is ideal for small spaces. You can make a collection of portraits of
                    your loving pets. Keep them anywhere you like.
                  </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">some more information</li>
                </ul>
                <div class="card-body">
                    <a href="/"><button class="btn btn-success">Starting from $400</button></a>
                </div>
              </div>
        </div>
      </div>


  <div class="row justify-content-center pt-5 pb-3">
    <div class="col text-center">
      <a href="/"><button class="btn btn-success">Back to home</button></a>
    </div>
  </div>

  </div>